<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="sugar_daddy_crm"
     providerName="MySql.Data.MySqlClient"
     connectionString="bitsavvy-crm-dev.crvxjxsnep6q.us-west-2.rds.amazonaws.com;" />
  </connectionStrings>
</configuration>